body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: rgb(12, 12, 12);
}

header {
    padding: 10px 100px;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100vh;
}

.sec1 {
    background: url(https://images5.alphacoders.com/101/1010099.jpg);
    background-size: cover;
}

.sec2 {
    padding: 100px;
    box-sizing: border-box;
    height: auto;
}

.sec2 h2 {
    font-size: 3em;
    margin: 0;
    padding: 0 0 20px 0;
    color: white;
}

.sec2 p {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    color: white;
}

header img {
    width: 150px;
}

.sec3 {
    background: url(https://images.wallpaperscraft.com/image/forest_trees_fog_110131_1920x1080.jpg);
    background-size: cover;
}

nav {
    width: 100%;
    height: 50px;
    background: rgba(12, 12, 12, 0.8);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0 100px;
    float: right;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}

nav ul li a.active, nav ul li a:hover {
    background: red;
}